<h2>Welcome to CSE Motors!</h2>
<h1>Welcome!</h1>
<%- messages() %>
<div class="mainwrapper">
    <section class="details">

        <div class="features">
            <h3>DMC Delorean</h3>

            <ul>
                <li>3 Cup holders</li>
                <li>Superman doors</li>
                <li>Fuzzy dice!</li>
            </ul>
            <button>Own Today</button>
        </div>

    </section>

    <section class="reviews">
        <h2>DMC Delorean Reviews</h2>

        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>

    <section class="upgrades">
        <h2>Delorean Upgrades</h2>

        <div class="div_upgrades">
            <figure>
                <img src="/images/upgrades/flux-cap.png" alt="flux-cap img"
                    width="65" height="65">
                <figcaption>
                    <a href="#">Flux Capacitor</a>
                </figcaption>
            </figure>
            
            <figure>
                <img src="/images/upgrades/flame.jpg" alt="flame-decal img"
                width="65" height="82">
                <figcaption>
                    <a href="#">Flame Decals</a>
                </figcaption>
            </figure>
            
            <figure>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper img"
                width="65" height="57">
                <figcaption>
                    <a href="#">Bumper Stickers</a>
                </figcaption>
            </figure>
            
            <figure>
                <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap img"
                width="65" height="65">
                <figcaption>
                    <a href="#">Hub Caps</a>
                </figcaption>
            </figure>
        </div>
    </section>
</div>
