<!--Content heading (lines 2-6)-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
    <% if (errors && errors.length > 0) { %>
      <ul>
        <% errors.forEach(err => { %>
          <li><%= err.msg %></li>
        <% }) %>
      </ul>
    <% } %>
    

<!--A message block (line 9)-->
<%- messages() %>



  <p>Click here to add Classification <a href="/inv/addClass">Add Classification</a></p>
    <p>Click here to add inventory <a href="/inv/addInv">Add inventory</a></p>
