<!--Content heading (lines 2-6)-->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
    <% if (errors && errors.length > 0) { %>
      <ul>
        <% errors.forEach(err => { %>
          <li><%= err.msg %></li>
        <% }) %>
      </ul>
    <% } %>
    

<!--A message block (line 9)-->
<%- messages() %>



  <p>Click here to add Classification <a href="/inv/addClass">Add Classification</a></p>
  <p>Click here to add inventory <a href="/inv/addInv">Add inventory</a></p>

  <h2>Manage Inventory</h2>
    <p>Select a classification to see the items belonging to the classification.</p>
    <%- classificationSelect %>
    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>

    <script src="../../js/inventory.js"></script>